.AddHabitForm {
  padding: 24px;
}

.title {
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 0.4em;
  color: var(--text-secondary);
}

.addButton {
  background-color: var(--accent-primary);
  color: var(--accent-secondary);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.4em;
  font-weight: 300;
  padding: 8px 12px;
}

.inputWrapper {
  margin: 16px 0;
}

.input {
  width: 100%;
  font-size: 1.4em;
}
