@import "../styles/variables.scss";

.Habit {
  position: relative;
}

.content {
  font-size: 64px;
}

.title {
  font-size: 16px;
  margin-top: 12px;
  text-align: center;
}

.editing {
  position: absolute;
  top: 64px;
  right: 0;
  width: 36px;
  height: 36px;
  background-color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  box-shadow: $shadow-2dp;
  transition: box-shadow 0.4s $swift-ease-out-timing-function;
  cursor: pointer;

  &:hover {
    box-shadow: $shadow-5dp;
  }
}

.editingIcon {
  width: 24px;
  height: 24px;
}
