@import "../styles/variables.scss";

.progress {
  transform: rotate(-90deg);

  &__meter {
    fill: none;
    stroke: var(--accent-primary);
  }

  &__value {
    fill: none;
    stroke: var(--accent-secondary);
  }
}
