@import "../styles/variables.scss";

.HoldableActionButton {
  touch-action: none;
  user-select: none;
}

.itemContainer {
  position: relative;
  cursor: pointer;
  user-select: none;
  border-radius: 100%;
  touch-action: none;
  user-select: none;
}

.item {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  cursor: pointer;
}

.label {
  position: absolute;
  font-size: 96px;
}

.progressContainer {
  position: absolute;
}

.checkmark {
  position: absolute;
  width: 100px;
  height: 100px;
}

.titleSlot {
  display: flex;
  justify-content: center;
}

.content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 100%;
}
