.Modal {
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  position: fixed;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #000000;
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
}

.dialog {
  position: relative;
  width: auto;
  z-index: 1001;
  max-width: 500px;
  margin: 1.75rem auto;
  padding: 1rem;
}

.content {
  background-color: var(--bg-secondary);
  width: 100%;
}
