@import "../styles/variables.scss";

$offset: 8px;

.SettingsControls {
  position: fixed;
  bottom: $offset;
  left: $offset;
  background-color: $color-white;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  // flex-direction: column;
}

.close {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
